<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Line Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sales_item in sales_items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ sales_item.item_description }}</td>
            <td>{{ sales_item.qty }}</td>
            <td>{{ sales_item.rate }}</td>
            <td>{{ sales_item.line_total }}</td>
            <td>
                <a href="{% url 'sales_items_detail' sales_item.id %}">View</a>
                <a href="{% url 'sales_items_update' sales_item.id %}">Edit</a>
                <form method="POST" action="{% url 'sales_items_delete' sales_item.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
