@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

}

html {
    background: #9e9e9e;
    background: -webkit-linear-gradient(to right, #D4D3DD, #d1d1d1);
    background: linear-gradient(to right, #D4D3DD, #d1d1d1);
}

.admin {
    height: 60vh;
    background: linear-gradient(-45deg,
            rgba(0, 153, 145, 0),
            rgba(0, 0, 0, 70)), url('../images/adminbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-redx {
    color: black;
    font-weight: 900;
    background: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.admin-blank {
    height: 60vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-weight: 900;
    font-size: 2rem;
}

.admin-map {
    color: aqua;
    font-weight: 900;
    font-size: 1.2rem;
}

.p-txt {
    font-weight: 900;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.473);
    color: rgb(0, 0, 0);
    text-align: center;
}

.pq {
    color: red;
}

.post-card {
    color: black;
    padding: 1.5%;
}

.bg-tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navcolor {
    padding: 0% !important;
}

.navlogo {
    font-weight: 900;
    font-size: 1.5rem;
    color: white !important;

}

.part-upper {
    background-color: #e9e9e9;
}

.navbar-x {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem 1rem 0.5rem 2rem;
    background-color: #354649 !important;
    color: white !important;
}

.nav-item a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.resx {
    position: absolute;
    top: 38%;
    left: 18%;
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.servicesx {
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.servicessx {
    position: absolute;
    left: 25%;
    z-index: 2;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ressxs {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2%;
    box-shadow: 0px 0px 5px black;
}

.ssx {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.f-right {
    float: right;
}

.brt {
    border: 2px solid white;
    box-shadow: 0px 2px 5px white;
}

.neighsx {
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 2;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/*========== components ==========*/


.btn {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: white;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn--link {
    border-radius: 0;
    padding: 0;
    color: black;
    box-shadow: none;
}

.btn--link:hover {
    text-decoration: underline;
}

.btn--main {
    background-color: white;
    color: black;
}

.message-err {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.2rem;
    margin-bottom: 1rem;
    color: red;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.btn--dark {
    background-color: white;
    color: black;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.btn-dark {
    border-radius: 0%;
    line-height: normal;
    font-size: 100%;
    margin: 0%;
    background-color: black;
    color: white;
    font-weight: 900;
    white-space: nowrap;
}

/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
    max-width: 68rem;
}

/*========== Layout Box ==========*/

.layout__box {
    width: 65%;
    max-width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    background-color: var(--color-dark);
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.layout__boxHeader {
    display: flex;
    padding: 1.5rem;
    background-color: var(--color-dark-light);
}

.layout__boxTitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.layout__boxTitle svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: black;
}

.layout__body {
    margin: 3rem;
}

/* login */

.fm {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.fm input {
    border-color: #343434 !important;
    color: black !important;
}

.form-data {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.formdata {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__group {
    margin-bottom: 2rem;
    width: 100%;
}

.bgx {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* min-height: 80vh; */
    background: -webkit-linear-gradient(to right, #D4D3DD, #ededd5);
    background: linear-gradient(to right, #D4D3DD, #e9e9c8);
}

.l-gx {
    display: flex;
    padding: 4%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-gx {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.dix {
    padding: 2%;
}

.form__group {
    margin-bottom: 1rem;
}

.form__split {
    display: flex;
    gap: 1rem;
}

.form__group label {
    display: block;
    font-size: 1rem;
    font-weight: 900;
}

.form__group input,
.form__group textarea,
.form__group select {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.411);
    padding: .5rem;
    border-radius: 3px;
    width: 100%;
    color: white;
    font-weight: 500;
    outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
    border-color: black;
}

.form__group textarea {
    background: transparent;
    height: 10rem;
    resize: none;
}

.form__group select {
    color: black;
    font-weight: 400;
}

.form__group select option {
    background-color: white;
    color: black;
    padding: 0 10rem;
}

.form__action {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.form__hide {
    position: absolute;
    left: -9999px;
}

.form__avatar label {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-main);
    cursor: pointer;
}

.form__avatar label:hover {
    text-decoration: underline;
}

.form-btn {
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: #3897f0;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.has-separator {
    font-size: 1.3rem;
    color: white;
    position: relative;
    margin-bottom: 2rem;
}

.sl {
    color: white !important;
    box-shadow: 0px 0px 1px rgb(0, 238, 255);
}

.pcv {
    box-shadow: 0px 0px 4px rgb(211, 252, 255);
}

.btn>svg {
    fill: black;
    width: 1.6rem;
    height: 1.6rem;
}

.facebook-login {
    font-size: 1rem;
    font-weight: bold;
    color: #fcfdff;
    margin-bottom: 1rem;

}

.facebook-login i {
    font-size: 1rem;
    margin-right: 0.7rem;
}

.password-reset {
    font-size: 1rem;
    color: white;

}

.sign-up {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 1rem 0;
    margin: .5rem 0;
}

.sd {
    background-color: white;
    color: black;
}

.sign-up a {
    color: black;
    font-weight: 900;
    font-size: 1rem;
}

.pbf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-header-x {
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    color: white;
    background-color: #000000;
}

.td-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    color: white !important;
    background-color: #000000 !important;
}

.td-header a {
    color: white !important;
}

.widget-points li {
    list-style: disc !important;
}

.span {
    color: #000000;
    font-weight: 900;
}

.spanb {
    color: #bebebe;
    font-weight: 900;
}

.top-l {
    flex-direction: row;
    align-items: center;
    padding: 0rem 1.5rem;
    justify-content: space-between;
}

.add {
    border-radius: 25px;
    font-weight: 500;
    padding: auto 15px;
    font-size: 1.3rem;
    background-color: #000000;
    color: white !important;
}

.add:hover {
    background-color: white !important;
    color: #000000 !important;
}

.widget-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #dededeca;
    gap: 3rem;
    padding: 0.5rem 0.8rem;
}

.widget-btn a {
    font-weight: 500;
    color: #000000;
}

.w-btn {
    padding: 5px 15px;
    background-color: #000;
    color: white;
    font-size: 1.2rem;
}


.i-btn {
    padding: 5px 15px;
    color: white;
    background-color: #000000;
    font-size: 1.2rem;
}


.w-btn:hover {
    color: #000000;
    background-color: white;
}

.a-style {
    text-decoration: none;
    color: #000000;
}

.a-style:hover {
    padding: 0.3rem;
}

.add-tab {
    padding: 1px 1rem;
}

.modal-part {
    align-self: center;

}

.delete-item {
    background-color: red !important;
    color: white !important;
}

.modal-header {
    background-color: #000;
    color: white !important;
}

.btn-close {
    background-color: white;
}


.thead-dark {
    font-size: 1.4rem;
}

.thead-dark th {
    font-weight: 900 !important;
}

.hr-style {
    color: #000 !important;
    background-color: #000000 !important;
    height: 2rem !important;
}

.lines td {
    align-items: center;
    overflow-wrap: normal;
    max-height: fit-content;
}

.td_title {
    font-size: 1.3rem;
}

.td_span {
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 200;
}

.cancel {
    background-color: rgb(230, 230, 230);
    color: black;
}

.delete {
    background-color: red;
    color: white;
}

.custom-modal-width {
    max-width: 60%;
    width: auto;
}

.custom-modal-width {
    max-width: 60vw;
    /* Adjust as needed */
}

.modal-body {
    padding: 1.5rem;
    /* Add padding inside the modal */
}

.custom-modal-width .row .col-md-6,
.custom-modal-width .row .col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}

.status.success {
    color: white;
    background-color: green;
}

.status.failed {
    color: white;
    background-color: red;
}

.status.retrying {
    color: white;
    background-color: orange;
}

.status.Pending,
.status.pending {
    color: black;
    background-color: lightgray;
}

* Ensure Select2 dropdown is above Bootstrap modal */ .select2-container {
    z-index: 1050 !important;
}

.select2-container--open {
    z-index: 9999 !important;
}

.select2-search__field:focus {
    background-color: red !important;

}

.select2-search__field:hover {
    background-color: #354649 !important;
}