{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% include 'nav.html' %}

<div class="container-fluid bgx">

    {% if page == 'login' %}

    <div class="l-gx" style="min-width:30rem;">
        <div class="container">
            <div class="form-data">
                <form action="" method="post" class="fm ressx">
                    {% csrf_token %}
                    <div class="dix">
                        <div class="form__group">
                            <label for="" class="fm">Username:</label>
                            <input type="text" name="username" id="" placeholder="Enter Username" required>
                        </div>
                        <p></p>
                        <div class="form__group">
                            <label for="" class="fm">Password:</label>
                            <input type="password" name="password" id="" placeholder="Enter password" required>

                        </div>
                        {% for message in messages %}
                        <div class="message-err">
                            <li class="">{{message}}</li>
                        </div>
                        {% endfor %}
                    </div>
                    <p class="text-center text-white mb-5">
                        <input type="submit" value="Login" class="btn btn--main sl text-white"
                            style="width: max-content;">
                    </p>
                    <span class="has-separator text-center text-black"> - - - - - - - - &nbsp; OR &nbsp; - - - - - - - -
                    </span>
                    <div class="sign-up text-black">
                        Already have an account? <a href="{% url 'accounts:register' %}" class="btn sd"> Sign Up </a>
                    </div>
                    <a href="{% url 'accounts:password_reset' %}" class="text-center text-black password-reset">Forgot
                        password?</a>

                </form>
            </div>
        </div>
    </div>

    {% else %}

    <div class="l-gx" style="min-width:30rem;">
        <div class="container">
            <div class="form-data">
                <form action="" method="post" class="fm ressx">
                    {% csrf_token %}
                    <div class="dix">
                        {% for field in form %}
                        <div class="form__group">
                            <label for="field_name">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        {% for message in messages %}
                        <div class="message-err">
                            <li class="">{{message}}</li>
                        </div>
                        {% endfor %}

                    </div>
                    <p class="text-center">
                        <button type="submit" class="btn sd" style="width: max-content;">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                viewBox="0 0 32 32">
                                <title>lock</title>
                                <path
                                    d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
                                </path>
                                <path
                                    d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
                                </path>
                            </svg>
                            Sign Up
                        </button>
                    </p>
                    <div class="sign-up text-black">
                        Already have an account? <a href="{% url 'accounts:login' %}" class="btn sd"> Login </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}