{% extends "main.html" %}

{% block content %}
{% include 'res_nav.html' %}

<div class="container-fluid py-3 pl-4 pr-4" style="min-height: 80vh;">
    <h3>Organization: {{ organization.organization_name }}</h3>

    <!-- Nav tabs for switching between sections -->
    <ul class="nav nav-tabs" id="organizationTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="customers-tab" data-bs-toggle="tab" href="#customers" role="tab"
                aria-controls="customers" aria-selected="false">Customers</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="items-tab" data-bs-toggle="tab" href="#items" role="tab" aria-controls="items"
                aria-selected="true">Items</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="invoices-tab" data-bs-toggle="tab" href="#invoices" role="tab"
                aria-controls="invoices" aria-selected="false">Invoices</a>
        </li>

    </ul>


    <div class="tab-content add-tab" id="organizationTabContent">
        <!-- Customers tab -->
        <div class="tab-pane fade show active" id="customers" role="tabpanel" aria-labelledby="customers-tab">
            <h3></h3>
            {% if customers %}
            <ul class="list-group">
                {% for customer in customers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ customer.customer_name }}</strong> -
                        {{ customer.customer_email }} -
                        {{ customer.customer_phone }}
                    </div>
                    <div>

                        <a href="{% url 'customer:customer_update' customer.id %}"
                            class="btn btn-warning btn-sm w-btn">View/Edit</a>

                        <form style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm w-btn">Delete</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No customers found for this organization.</p>
            {% endif %}
            <a href="{% url 'customer:customer_create'  %}" class="btn btn-primary mt-3  w-btn">Add New Customer</a>
        </div>


        <!-- Items tab -->
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <h3></h3>
            {% if items %}
            <ul class="list-group">
                {% for item in items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ item.item_name }} - {{ item.item_class_code }} - {{ item.itemCd }}
                    </div>
                    <div>

                        <a href="{% url 'item:item_update' item.id %}"
                            class="btn btn-warning btn-sm w-btn">View/Edit</a>

                        <form style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm w-btn">Delete</button>
                        </form>
                    </div>

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No items found for this organization.</p>
            {% endif %}
            <a href="{% url 'item:item_create' %}" class="btn btn-primary mt-3  w-btn">Add New Item</a>
        </div>

        <!-- invoices tab -->
        <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
            <h3></h3>invoices</h3>
            {% if invoices %}
            <ul class="list-group">
                {% for transaction in invoices %}
                <li class="list-group-item">
                    {{ transaction.trader_invoice_number }} - {{ transaction.receipt_number }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No invoices found for this organization.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}